img{
    height: 560px !important;
    padding: 5px !important;
}
a:hover.nav-link{
    background-color: rgb(247, 97, 97);
    transform: scale(1);
    transition: all 0.6s ease-in-out;  
    color: rgba(255, 255, 255) !important;
}
a:link{
    text-decoration: none;
}
.text{
    color: rgb(218, 50, 8) !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    padding: 5px;
}